<table class="table table-striped table-bordered table-hover table-sm">
  <thead>
  <tr>
    <th style="width: 20px"></th>
    <th>Name</th>
  </tr>
  </thead>
  <tr *ngIf="parentFile">
    <td><i class="oi oi-folder"></i></td>
    <td><a [routerLink]="['/browser', parentFile]">..</a></td>
  </tr>
  <tr *ngFor="let f of files">
    <td><i class="oi" [class.oi-folder]="isDir(f)" [class.oi-file]="!isDir(f) && !isPlayable(f)"
           [class.oi-camera-slr]="isPlayable(f)"></i></td>
    <td><a *ngIf="isPlayable(f)" (click)="play(f)" class="btn btn-primary btn-sm float-right"><i class="oi oi-media-play"></i></a>
      <a [routerLink]="['/browser', f.pathId]">{{f.name}}</a></td>
  </tr>
</table>
