<h2>Browser</h2>

<nav>
  <a [routerLink]="['/browser']" style="cursor: pointer">All Roots</a> |
  <a (click)="previous()" href="" style="cursor: pointer">Previous</a> |
  <a [routerLink]="['/browser', file.parentId]" *ngIf="file && file.parentId" style="cursor: pointer">Parent
    ({{file.parentId}})</a>
</nav>

<div *ngIf="file">
  <h4>{{file.name}}</h4>

  <ul>
    <li *ngFor="let f of file.children" style="cursor: pointer" title="{{f.pathId}}"><a
      [routerLink]="['/browser', f.pathId]">
      {{f.name}}
      ({{f.detailUrl}})
    </a>
    </li>
  </ul>
</div>
