<div class="container-fluid">
  <h2>Browser</h2>

  <div *ngIf="file">
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li *ngIf="!isRoot()" class="breadcrumb-item" aria-current="page"><a [routerLink]="['/browser']"><i
          class="oi oi-home"></i> Shares</a>
        </li>
        <li *ngIf="isRoot()" class="breadcrumb-item active" aria-current="page"><i class="oi oi-home"></i> Shares</li>
        <li *ngFor="let path of splitPath()" class="breadcrumb-item"><a [routerLink]="['/browser', path.pathId]">{{path.name}}</a>
        </li>
        <li *ngIf="!isRoot()" class="breadcrumb-item active" aria-current="page">{{file.name}}</li>
      </ol>
    </nav>

    <app-file-list [files]="file.children" [parentFile]="file.parentId"></app-file-list>
  </div>
</div>
