.remote-quick-access {
  .media-poster {
    margin: 20px auto;
    width: 150px;
    height: 200px;
    background-color: lightgray;
  }

  .controls {
    text-align: center;
  }
}

.remote-media-title {
  .media-path {
    font-size: 0.8em;
    color: grey;
    font-style: italic;
  }

  .media-name {
    font-size: 1.1em;
    font-weight: bold;
  }
}

.progress {
  margin-bottom: 10px;

  .progress-bar {
    //word-wrap: unset;
    text-wrap: avoid;
  }
}
